<div class="row">
    <div class="col-xs-10 col-xs-offset-1">
        <table class="table table-striped table-condensed table-responsive">
            <thead>
            <tr id="tableHeadCommands">
                <th style="min-width: 200px; max-width: 250px">Name</th>
                <th style="min-width: 125px;">Command</th>
                <th style="width: 100%">Arguments</th>
                <th style="min-width: 82px;width: 82px;max-width: 82px"></th>
                <% if session[:auth] %>
                    <th><button onclick="newAlias()" class="btn btn-primary">New</button></th>
                <% end %>
            </tr>
            </thead>
            <tbody id="tableBodyAliases">
            </tbody>
        </table>
    </div>
</div>