<form class="form-horizontal" id="commandsForm">
  <div class="col-sm-2 col-sm-offset-5">
    <div class="form-group">
      <div class="input-group">
        <label for="user_levels" class="sr-only">User Level</label>
        <span class="input-group-addon">User Level</span>
        <select onchange="on_userLevelChange()" class="form-control" id="user_levels" name="user_level">
          <option value="ALL">All</option>
        </select>
      </div>
    </div>
  </div>
  <div class="col-sm-12">
    <div id="andBelow" class="form-group hidden text-center">
      <label class="control-label" for="below"></label>
      <input onchange="on_userLevelChange()" data-label-width="auto" data-handle-width="auto" data-on-text="Yes" data-off-text="No" data-label-text="Exact" type="checkbox" name="below" id="below"/>
    </div>
  </div>
</form>
<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
    <table class="table table-striped table-condensed table-responsive">
      <thead>
      <tr id="tableHeadCommands">
        <th style="min-width: 200px; max-width: 250px">Name</th>
        <th style="width: 100%;">Response/Script</th>
        <th style="min-width: 125px">User Level</th>
        <th style="min-width: 100px;width: 100px;max-width: 100px"></th>
        <% if session[:auth] %>
            <th>
              <button onclick="newCommand()" class="btn btn-primary">New</button>
            </th>
        <% end %>
      </tr>
      </thead>
      <tbody id="tableBodyCommands">
      <%= render :partial => 'commands', :locals => {commands: @commands} %>
      </tbody>
      <script>
        var command = '<%= params[:command].to_s %>';
        var user_level = '<%= params[:user_level]%>';
      </script>
    </table>
  </div>
</div>